# OSX folder attributes
.DS_Store

# temporary files
*~
*.back
*.tmp

# project dependencies
node_modules

# npm debugging logs
npm-debug.log*

# config folder
config

# junk files and folders
.sass-cache
files
files.map