/*
* @Author: Ali
* @Date:   2017-02-22 18:36:32
* @Last Modified by:   Ali
* @Last Modified time: 2017-02-24 23:05:19
*/
.navbar-inverse.navbar-fixed-top {
    background-color: rgb(188,27,57);
    position: relative;
}

.navbar-inverse.navbar-fixed-bottom {
    background-color: rgb(188,27,57);
    position: fixed;
}

.navbar-header {
    position: absolute;
    left: 50%;
    margin-left: -156px !important;
    display: block;
    color: white;
    margin-top: 15px;
}

.centers {
    margin-top: 170px;
}

.alert {
    padding: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}