<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret Santa</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  May Node and Express be with you.

  <ul class="quotes">
  <% for(var i = 0; i < gifters.length; i++) {%>
    <li class="quote">
      <span><%= gifters[i].name %></span>
      <span><%= gifters[i].spouse %></span>
    </li>
  <% } %>
  </ul>

  <form action="/register" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="spouse">
    <button type="submit">Submit</button>
  </form>
</body>
</html>