<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A simlpe Secret Santa with MEAN stack">
        <meta name="keywords" content="serect-santa, MEAN stack, christmas">
        <title>Secret Santa</title>
        <link rel="icon" href="images/hat.png" type="image" sizes="16x16">
        <!--build:css css/style.min.css-->
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <!--/build-->
    </head>
    <body data-ng-app="secretSantaApp">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/"><img src="images/santa.png" class="img-responsive img-circle" alt="Responsive image"></a>
                </div>
        </nav>
        <div class="container-fluid centers" data-ng-controller="secretSantaCtrl">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                   <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Santa's Dashboad</h3>
                        </div>
                        <div class="panel-body">
                            <h4>Number of our Santas: {{ santas }}</h4>
                            <h4>Last Santa: {{ lastSanta }}</h4>
                            <h4>Registration status: {{ registerStat }}</h4>
                        </div>
                        <div class="panel-footer">
                            <p>Lock the registration & make matches
                                <button class="btn btn-danger pull-right" data-ng-click="apply()">APPLY</button>
                            </p> 
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-md-4">
                   <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Santa Sign Up Center</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                To sign up for the gift exchange enter your email and password below.
                            </p>
                            <form>
                                <div class="form-group">
                                    <label for="name">
                                        Name
                                    </label>
                                    <input type="text" id="name" placeholder="John" class="form-control" data-ng-model="gifter.name">
                                </div>
                                <div class="form-group">
                                    <label for="spouse">
                                        Spouse Name If Applicable
                                    </label>
                                    <input type="text" id="spouse" placeholder="Sophia" class="form-control" data-ng-model="gifter.spouse">
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email
                                    </label>
                                    <input type="email" id="email" placeholder="john@smithfamily.com" class="form-control" data-ng-model="gifter.email">
                                </div>
                                <div class="form-group">
                                    <label for="pass">
                                        Password
                                    </label>
                                    <input type="password" id="pass" placeholder="Password" class="form-control" data-ng-model="gifter.pass">
                                </div>
                                <button class="btn btn-primary" data-ng-click="addGifter()">SINGUP</button>
                            </form>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-md-4">
                   <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Santa Match Center</h3>
                        </div>
                        <div class="panel-body">
                            <h4>Get your match here!</h4>
                            <p>Matches will be ready ones all entries are collected.</p>
                            <form>
                                <div class="form-group">
                                    <label for="email2">
                                        Email
                                    </label>
                                    <input type="email" id="email2" placeholder="john@smithfamily.com" class="form-control" data-ng-model="getter.email">
                                </div>
                                <div class="form-group">
                                    <label for="pass2">
                                        Password
                                    </label>
                                    <input type="password" id="pass2" placeholder="Password" class="form-control" data-ng-model="getter.pass">
                                </div>
                                <button class="btn btn-primary" data-ng-click="getMatch()">GET MY MATCH</button>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <!--build:js js/script.min.js-->
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controllers/secret-santa.js"></script>
        <!--/build-->
    </body>
</html>